@media (min-width: 600px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 800px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cards-grid {
  display: grid;
  grid-gap: 32px;
  margin: 16px 0 32px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: $border-radius;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.card-photo {
  background-position: center;
  background-size: cover;
  height: 200px;
}

.card-description {
  padding: 16px;
}

.card-name {
  font-weight: bold;
  font-size: 20px;
}

.card-address {
  color: $gray;
  font-style: italic;
  margin: 8px 0 8px 0;
}

.card-icon {
  color: $gray;
}

.card-infos {
  display: flex;
  margin: 8px 0 8px 0;
}

.card-price {
  margin-left: 16px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 16px 16px;
}

.card-primary-btn {
  color: white;
  font-style: bold;
}
